<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
        <File name="file" fileName="${sys:logfilename}">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
        </File>
    </appenders>
    <loggers>
        <Root level="${sys:loglevel}">
            <appender-ref ref="console" level="${sys:loglevel}"/>
            <appender-ref ref="file" level="${sys:loglevel}"/>
        </Root>
    </loggers>

</Configuration>